@page
@model ItalyTourAgency.Areas.Identity.Pages.Account.UserAccountModel
@{
}

<h2 class="text-center">Welcome to your account</h2>

<div>
	First Name: @Model.appUser?.FirstName
</div>
<div>
	Last Name: @Model.appUser?.LastName
</div>
<div>
	Email: @Model.appUser?.Email
</div>
<div>
	Phone Number: @Model.appUser?.PhoneNumber
</div>