@page
@model ItalyTourAgency.Pages.Admin.Tours.IndexModel

@{
    ViewData["Title"] = "Tours";
}

<div class="container">
    <h1 class="text-center mb-5">Discover Italy With Us</h1>

    <div class="row">
        @foreach (var item in Model.Tour)
        {
            
            var imagePath = "/images/default-tour.jpg"; // Default image

            if (item.Name.Contains("Tuscan") || item.Name.Contains("Florence"))
            {
                imagePath = "~/images/firenze view.jpg";
            }

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 tour-card">
                    <img src="@Url.Content(imagePath)" class="card-img-top" alt="@item.Name tour">
                </div>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
            </div>
        }
    </div>
</div>